
body{
    background-image: url('./nightSky.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    margin: auto;
    margin-top: 10%;
    width: 25%;
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 20px;
    opacity: 1.0;
    font-family: "Sixtyfour Convergence", serif; 
    font-weight: 400;
    color: rgb(79, 70, 70);
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
.items{
    padding-top: 5px;
}
#submit{
    border-radius: 10px;
    margin-top: 5px;
    border-style: none;
    padding: 5px 15px;
    font-family: "Sixtyfour Convergence", serif; 
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
#submit:hover{
    background-color: rgb(17, 18, 18);
    color: rgb(10, 9, 9);
    font-family: "Sixtyfour Convergence", serif; 
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
.change{
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.change:hover{
    background-color:hsl(0, 4%, 59%);
}
.change:active{
    border: none;
}
img{
    font-family: 'Courier New', Courier, monospace;
}
.changeCon{
    display: flex;
    margin-right: 10px;
    align-items: center;
}
#togglePassword{
    margin-right: 0px;
    padding-right: 0px;
}