
.background{
    background-image: url('./nightSky.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    margin: auto;
    margin-top: 10%;
    width: 25%;
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 20px;
    opacity: 1.0;
    font-family: "Sixtyfour Convergence", serif; 
    font-weight: 400;
    color: rgb(237, 232, 232);
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
.items{
    padding-top: 5px;
}
#submit{
    border-radius: 10px;
    margin-top: 5px;
    border-style: none;
    padding: 5px 15px;
    font-family: "Sixtyfour Convergence", serif; 
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
#submit:hover{
    background-color: rgb(17, 18, 18);
    color: rgb(10, 9, 9);
    font-family: "Sixtyfour Convergence", serif; 
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
.change{
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.change:hover{
    background-color:hsl(0, 4%, 59%);
}
.change:active{
    border: none;
}
img{
    font-family: 'Courier New', Courier, monospace;
}
.changeCon{
    display: flex;
    margin-right: 10px;
    align-items: center;
}
#togglePassword{
    margin-right: 0px;
    padding-right: 0px;
}


.Home-Background{
    background-image: url('./nightSky.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    background-color: black;
}
span{
    color: red;
}
.container-two{
    border: solid;
    border-radius: 5px;
    padding: 5px;
}
.home-item{
    padding-bottom: 10px;
}
.add-icon-container{
    display: flex;
    justify-content:right;
}
#add-icon{
    display: flex;
    align-items: center;
    background-color: blue;
    font-size: xx-large;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
#add-icon:hover{
    background-color: white;
    color: black;
}
.selector-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.select-and-option{
    border: solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.submit-button{
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.submit-button:hover{
    background-color: white;
    color: black;
}
.end-item{
    margin-left: 20px;
    border: none;
    border-radius: 3px;
}
.singele-input {
    border: solid;
    border-radius: 3px;
    border-color: red;
    margin-left: 20px;
}
.change-single-input {
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}